version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: openauth-postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "55000:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: openauth-app 
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - SECRET_KEY=${SECRET_KEY}
      - PEPPER=${PEPPER}
    volumes:
      - .:/app

volumes:
  postgres_data: